<div class="d-flex align-items-center justify-content-center"> 
    <div class="max-width container-fluid">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="reg-form">
                <div class="discr">You need to be logged in to sign in</div>
                <mat-form-field class="form-group full-width">
                    <input type="text" matInput placeholder="Login" formControlName="login"> 
                    <mat-icon matSuffix color="accent" class="main-color">account_circle</mat-icon>
                    <mat-hint>
                        enter your login
                    </mat-hint>
                    <mat-error *ngIf="!loginForm.get('login').valid">
                        this field is required 
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-group full-width">
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-icon matSuffix color="accent" class="main-color">vpn_key</mat-icon>
                    <mat-hint>
                        enter your password
                    </mat-hint>
                    <mat-error *ngIf="!loginForm.get('password').valid">
                        this field is required
                    </mat-error>
                </mat-form-field>             
                <div *ngIf="warning" class="warning">
                    {{warning}}
                </div>
            </div>
            <button 
                mat-raised-button 
                color="accent" 
                class="btn-lg btn-block py-2 reg-form btn-color">
                Submit
            </button>
        </form>
    </div> 
</div>
