<header class="navbar navbar-expand-sm justify-content-between navbar-dark bg-dark shadow-sm fixed-top py-1">
  <div>
    <button 
      class="navbar-toggler mx-1" 
      type="button" 
      data-toggle="collapse" 
      mat-button 
      [matMenuTriggerFor]="menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand mx-1 ">testApp</div>
  </div>
  <mat-menu #menu="matMenu" class="navbar justify-content-start navbar-dark bg-dark shadow-sm">
    <a class="nav-link active" routerLink="">home</a>
    <a class="nav-link" routerLink="news">news</a>
    <a class="nav-link" routerLink="profile">profile</a>
    <!-- <a class="nav-link" mat-button color="warn" (click)="logout()">{{Logout | translate: lang}} ({{myUser()}})</a> -->
  </mat-menu>

  <div class="collapse navbar-collapse justify-content-end">
    <a class="nav-link active" routerLink="">home</a>
    <a class="nav-link" routerLink="news">news</a>
    <a class="nav-link" routerLink="profile">profile</a>
    <!-- <a class="nav-link" mat-button color="warn" (click)="logout()">{{Logout | translate: lang}} ({{myUser()}})</a> -->
  </div>

  <!-- <div class="justify-content-end">
    <button data-toggle="collapse" type="button" class="btn btn-dark mx-0" [matMenuTriggerFor]="menu2">{{lang | translate: lang}}</button>
    <mat-menu #menu2="matMenu" class="navbar justify-content-start navbar-dark bg-dark shadow-sm">
        <a class="nav-link" mat-button color="warn" (click)="myLang('en')">{{en | translate: lang}}</a><br>
        <a class="nav-link" mat-button color="warn" (click)="myLang('ukr')">{{ukr | translate: lang}}</a>
    </mat-menu>
  </div> -->
</header>
<br><br>
<router-outlet></router-outlet> 
